*{
	margin:0;
	padding: 0;
}
.wrapper{
	width:1170px;
	background-color: black;
	margin:auto;
}
.navbar {
    z-index:1;
    right:2%;
    color:white;
    top:0;
}
.nav-link:hover {
    background:#fff;
  color:#333; 
    
}
.nav-item:hover {
    color:#333;
    
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  
  color:black; 
  text-decoration: none;

}